<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="chatting">

	<insert id="createChatting">
		insert into CHATTING values(chatting_seq.nextval,#{chattingPartner},#{memberEmail})
	</insert>

	<delete id="deleteChatting" parameterType="_int">
		delete from CHATTING where chatting_number = #{chattingNumber}
	</delete>

	<select id="selectMyChatting" parameterType="string" resultType="ChattingVo">
		select	chatting_number chattingNumber, member_email memberEmail, chatting_partner chattingPartner
		from	CHATTING
		where	chatting_partner = #{value}
		or		member_email = #{value}
	</select>

	<select id="findByChattingNumber" parameterType="hashmap" resultType="ChattingVo">
		select	chatting_number chattingNumber, member_email memberEmail, chatting_partner chattingPartner
		from	CHATTING
		where	chatting_partner = #{chattingPartner}
		and		member_email = #{memberEmail}
		or		chatting_partner = #{memberEmail}
		and		member_email = #{chattingPartner}
	</select>


	<sql id="select-chatting-join-sql">
		select	c.chatting_number,
				c.chatting_partner,
				c.member_email c_email,
				l.chatting_number,
				l.member_email l_email,
				l.chatting_content,
				l.chatting_time,
				m.member_email m_email,
				m.member_password,
				m.member_name,
				m.member_birthday,
				m.member_gender,
				m.member_tel,
				m.member_location,
				m.member_introduction,
				m.member_identification,
				m.member_picture
		from	CHATTING c, CHATTINGLOG l, MEMBER m
	</sql>

	<resultMap type="ChattingVo" id="chatting-default-resultmap">
		<id column="chatting_number" property="chattingNumber"/>
		<result column="chatting_partner" property="chattingPartner"/>
		<result column="c_email" property="memberEmail"/>
	</resultMap>
	
	<resultMap type="ChattingVo" id="chatting-chattinglog-join-resultmap" extends="chatting-default-resultmap">
		<collection property="list" ofType="ChattingLogVo">
			<result column="chatting_number" property="chattingNumber"/>
			<result column="l_email" property="memberEmail"/>
			<result column="chatting_content" property="chattingContent"/>
			<result column="chatting_time" property="chattingTime"/>
			<association property="memberList" javaType="MemberVo">
				<result column="e_email" property="memberEmail"/>
				<result column="member_password" property="memberPassword"/>
				<result column="member_name" property="memberName"/>
				<result column="member_birthday" property="memberBirthday"/>
				<result column="member_gender" property="memberGender"/>
				<result column="member_tell" property="memberTel"/>
				<result column="member_location" property="memberLocation"/>
				<result column="member_introduction" property="memberIntroduction"/>
				<result column="member_identification" property="memberIdentification"/>
				<result column="member_picture" property="memberPicture"/>
			</association>
		</collection>
	</resultMap>
	
	<select id="selectJoinChattingLog" parameterType="string" resultMap="chatting-chattinglog-join-resultmap">
		<include refid="select-chatting-join-sql"/>
		where	c.chatting_number = l.chatting_number (+)
		and		l.member_email = m.member_email
		and		(c.member_email = #{memberEmail}
		or		c.chatting_partner = #{memberEmail})
		
		order by l.chatting_time
	</select>

</mapper>