<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="houseComment">
	
	<!-- memberEmail로 HouseComment 조회(내 후기조회) -->
	<select id="selectHouseCommentByEmail" parameterType="string" resultType="HouseCommentVo">
		select	house_serial houseSerial, member_email memberEmail, comment_content commentContent, comment_rating commentRating, comment_time commentTime
		from	HOUSECOMMENT 
		where	member_email = #{value}
	</select>
	
	<!-- houseComment house단위로 select(하우스 상세정보에서 조회하는 select문)  -->
	<select id="selectHouseCommentBySerial" parameterType="_int" resultType="HouseCommentVo">
		select	house_serial houseSerial, member_email memberEmail, comment_content commentContent, comment_rating commentRating, comment_time commentTime
		from	HOUSECOMMENT
		where	house_serial = #{value}
	</select>
	
	<!-- houseComment 등록 -->
	<insert id="insertHouseComment" parameterType="HouseCommentVo">
		insert into HOUSECOMMENT values(#{houseSerial},#{memberEmail},#{commentContent},#{commentRating},#{commentTime})
	</insert>
	

	<!-- houseComment 삭제 -->
	<delete id="deleteHouseComment" parameterType="hashmap">
		delete from HOUSECOMMENT where house_serial = #{houseSerial} and member_email = #{memberEmail}
	</delete>
	
	
	<!-- houseComment 수정(하우스 시리얼과 하우스 이메일을 받아서 수정함.) -->
	<update id="updateHouseComment" parameterType="HouseCommentVo">
		update	HOUSECOMMENT 
		set  	comment_content = #{commentContent}, comment_rating = #{commentRating}, comment_time = #{commentTime}
		where	house_serial = #{houseSerial} and member_email = #{memberEmail}
	</update>
	
	
	
</mapper>