<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="houseComment">

	<!-- houseComment 등록 -->
	<insert id="insertHouseComment" parameterType="HouseCommentVo">
		insert into HOUSECOMMENT values(#{houseSerial},#{memberEmail},#{commentContent},#{commentRating},#{commentTime})
	</insert>
	

	<!-- houseComment 삭제 -->
	<delete id="deleteHouseComment" parameterType="hashmap">
		delete from HOUSECOMMENT where house_serial = #{houseSerial} and member_email = #{memberEmail}
	</delete>
	
	
	<!-- houseComment 수정(하우스 시리얼과 하우스 이메일을 받아서 수정함.) -->
	<update id="updateHouseComment" parameterType="HouseCommentVo">
		update	HOUSECOMMENT 
		set  	comment_content = #{commentContent}, comment_rating = #{commentRating}, comment_time = #{commentTime}
		where	house_serial = #{houseSerial} and member_email = #{memberEmail}
	</update>
	
	
	
</mapper>