<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="howgetmoney">


	<insert id="insertHowgetmoney" parameterType="HowGetMoneyVo">
		insert into HOWGETMONEY values(#{memberEmail},#{howgetmoneyHolder},#{howgetmoneyBank},#{howgetmoneyNumber})
	</insert>
	
	
	<delete id="deleteHowgetmoney" parameterType="HowgetmoneyVo">
		delete from HOWGETMONEY
		where	member_email = #{memberEmail}
		and		howgetmoney_holder = #{howgetmoneyHolder}
		and		howgetmoney_bank = #{howgetmoneyBank}
		and		howgetmoney_number = #{howgetmoneyNumber}
	</delete>
	
	
	<select id="selectMyHowgetmoney" parameterType="string" resultType="HowGetMoneyVo">
		select	member_email memberEmail, howgetmoney_holder howgetmoneyHolder, howgetmoney_bank howgetmoneyBank, howgetmoney_number howgetmoneyNumber
		from	HOWGETMONEY
		where	member_email = #{memberEmail}
	</select>
	
</mapper>