<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="payment">
	
	<!-- insert -->
	<insert id="insertPayment">
		insert into PAYMENT values (#{cardSerial}, #{memberEmail}, #{paymentType}, #{cardNumber}, #{cardExpiration}, #{cardName}, #{cardCvc})
	</insert>
	
	<!-- update -->
	<update id="updatePayment" parameterType="PaymentVo">
		update PAYMENT 
		set	MEMBER_EMAIL = #{memberEmail}, 
				PAYMENT_TYPE = #{paymentType}, 
				CARD_NUMBER = #{cardNumber}, 
				CARD_EXPIRATION = #{cardExpiration}, 
				CARD_NAME = #{cardName},
				CARD_CVC = #{cardCvc}
		where CARD_SERIAL = #{cardSerial}
	</update>
	
	<!-- delete -->
	<delete id="deletePayment" parameterType="_int">
		delete from PAYMENT where CARD_SERIAL = #{cardSerial}
	</delete>
	
	<!-- select -->
	<select id="selectPayment" parameterType="string" resultType="PaymentVo">
		select CARD_SERIAL cardSerial, MEMBER_EMAIL memberEmail, PAYMENT_TYPE paymentType, CARD_NUMBER cardNumber, CARD_EXPIRATION cardExpiration, CARD_NAME cardName, CARD_CVC cardCvc
		from PAYMENT
		where MEMBER_EMAIL = #{memberEmail}
		order by CARD_SERIAL DESC
	</select>
	<select id="selectPaymentByCardSerial" parameterType="_int" resultType="PaymentVo">
		select CARD_SERIAL cardSerial, MEMBER_EMAIL memberEmail, PAYMENT_TYPE paymentType, CARD_NUMBER cardNumber, CARD_EXPIRATION cardExpiration, CARD_NAME cardName, CARD_CVC cardCvc
		from PAYMENT
		where CARD_SERIAL = #{cardSerial}
	</select>
	<select id="selectCardSerialSeq" resultType="_int">
		select CARD_SERIAL_seq.nextval from dual
	</select>
</mapper>