<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="showmoney">

	<!-- Insert -->
	<insert id="insertShowmoney" parameterType="ShowmoneyVo">
		insert into SHOWMONEY values (#{travelSerial}, #{memberEmail}, #{accountSerial}, #{showmoneyStatus}, #{showmoneyTotalMoney}, #{showmoneyReciveMoney})
	</insert>
	
	<!-- update-->
	<update id="updateShowmoney" parameterType="ShowmoneyVo">
		update SHOWMONEY
		set	TRAVEL_SERIAL = #{travelSerial}, 
				MEMBER_EMAIL = #{memberEmail}, 
				ACCOUNT_SERIAL = #{accountSerial}, 
				SHOWMONEY_STATUS = #{showmoneyStatus}, 
				SHOWMONEY_TOTAL_MONEY = #{showmoneyTotalMoney}, 
				SHOWMONEY_RECIVE_MONEY = #{showmoneyReciveMoney}
		where TRAVEL_SERIAL = #{travelSerial}
	</update>
	
	<!-- delete -->
	<delete id="deleteShowmoney" parameterType="_int">
		delete from SHOWMONEY where TRAVEL_SERIAL = #{travelSerial}
	</delete>
	
	<!-- select -->
	<select id="selectShowmoney" parameterType="string" resultType="ShowmoneyVo">
		select	TRAVEL_SERIAL travelSerial, 
					MEMBER_EMAIL memberEmail, 
					ACCOUNT_SERIAL accountSerial, 
					SHOWMONEY_STATUS showmoneyStatus, 
					SHOWMONEY_TOTAL_MONEY showmoneyTotalMoney, 
					SHOWMONEY_RECIVE_MONEY showmoneyReciveMoney
		from		SHOWMONEY
		where	MEMBER_EMAIL = #{memberEmail}
	</select>
	
	<select id="selectShowmoneyByTravelSerial"  parameterType="_int" resultType="ShowmoneyVo">
		select	TRAVEL_SERIAL travelSerial, 
					MEMBER_EMAIL memberEmail, 
					ACCOUNT_SERIAL accountSerial, 
					SHOWMONEY_STATUS showmoneyStatus, 
					SHOWMONEY_TOTAL_MONEY showmoneyTotalMoney, 
					SHOWMONEY_RECIVE_MONEY showmoneyReciveMoney
		from		SHOWMONEY
		where	TRAVEL_SERIAL = #{travelSerial} 
	</select>
	
	<select id="selectShowmoneyByShowmoneyStatus"  parameterType="hashmap" resultType="ShowmoneyVo">
		select	TRAVEL_SERIAL travelSerial, 
					MEMBER_EMAIL memberEmail, 
					ACCOUNT_SERIAL accountSerial, 
					SHOWMONEY_STATUS showmoneyStatus, 
					SHOWMONEY_TOTAL_MONEY showmoneyTotalMoney, 
					SHOWMONEY_RECIVE_MONEY showmoneyReciveMoney
		from		SHOWMONEY
		where	MEMBER_EMAIL = #{memberEmail} and SHOWMONEY_STATUS = #{showmoneyStatus}
	</select>

</mapper>