<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="reviewPicture">

<sql id="picture-select">
		select picture_serial pictureSerial,review_serial reviewSerial, picture_order pictureOrder,picture_name pictureName	from reviewpicture
</sql>

<!-- reviewPicture테이블 select용 -->
<resultMap type="reviewPictureVo" id="picture-basic-resultmap">
	<id column="picture_serial" property="pictureSerial"/>
	<result column="review_serial" property="reviewSerial"/>
	<result column="picture_order" property="pictureOrder"/>
	<result column="picture_name" property="pictureName"/>
</resultMap>

<!-- SLELECT PICTURE LIST PAGING-->
<select id="selectPictureListPaging" parameterType="hashmap" resultType="ReviewPictureVo">
	select page, review_serial reviewSerial,picture_order pictureOrder,picture_name pictureName
from(select ceil(rownum/#{picturePerPage}) page,  review_serial,picture_order,picture_name
			from(
					select  review_serial,picture_order,picture_name  from reviewpicture order by review_serial desc
			)
)
where review_serial=${reviewSerial}
and page=#{page}
</select>

<!-- SELECT PICTURE LIST -->
<select id="selectPictureList" parameterType="_int" resultType="ReviewPictureVo">
	<include refid="picture-select"/>
	where review_serial=#{reviewSerial}
	order by picture_serial asc
</select>

<!-- SELECT PICTURE COUNT -->
<select id="selectPictureCount" parameterType="_int" resultType="_int">
	select count(picture_serial)
	from reviewpicture
	where review_serial=#{reviewSerial}
</select>

<!-- SELECT PICTURE-->
<select id="selectPictureOne" parameterType="_int" resultType="ReviewPictureVo">
	<include refid="picture-select"/>
	where picture_serial = #{pictureSerial}
</select>

<!-- UPDATE PICTURE -->
<update id="updatePicture" parameterType="reviewPictureVo" >
	update reviewpicture
	set
		 review_serial=#{reviewSerial},
		 picture_order=#{pictureOrder},
		 picture_name=#{pictureName}
	where picture_serial=#{pictureSerial}
</update>

<!--DELETE PICTURE-->
<delete id="deletePicture" parameterType="_int">
	delete from reviewpicture
	where picture_serial=#{pictureSerial}
</delete>

<!-- DELETE ALL PICTURE -->
<delete id="deleteAllReviewPicture" parameterType="_int">
	delete from reviewpicture
	where review_serial=#{reviewSerial}
</delete>

<!-- INSERT PICTURE -->
<insert id="insertPicture" parameterType="reviewPictureVo" >
	<selectKey resultType="_int" keyProperty="pictureSerial" order="BEFORE">
		select REVIEWPICTURE_SEQ.nextval from dual
	</selectKey> 
	insert into reviewpicture
	values(#{pictureSerial},#{reviewSerial},#{pictureOrder},#{pictureName})
</insert>
</mapper>






