<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="이름지정">
	<insert id="defa"></insert>
	<select id="default-house-filter-select">
		select from HOUSEFILTER *
	</select>
</mapper>