<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="housefilter">
	<sql id="default-house-filter-select-forDB">
		select HOUSE_SERIAL,
		HOUSEFILTER_RANGE,
		HOUSEFILTER_GUEST_NUMBER,
		HOUSEFILTER_TYPE,
		HOUSEFILTER_ROOM_NUMBER,
		HOUSEFILTER_LOCATION,
		HOUSEFILTER_BEDROOM_NUMBER,
		HOUSEFILTER_BATHROOM_NUMBER,
		HOUSEFILTER_BED_NUMBER,
		HOUSEFILTER_CHECKIN_TERM,
		HOUSEFILTER_CHECKIN_START,
		HOUSEFILTER_CHECKIN_END,
		HOUSEFILTER_RESERVATION_TERM,
		HOUSEFILTER_BAK_MIN,
		HOUSEFILTER_BAK_MAX,
		HOUSEFILTER_PRICE
		from HOUSEFILTER
	</sql>
	
	<sql id="default-house-filter-select-with-join-forDB">
		select h.HOUSE_SERIAL,
		h.HOUSEFILTER_RANGE,
		h.HOUSEFILTER_GUEST_NUMBER,
		h.HOUSEFILTER_TYPE,
		h.HOUSEFILTER_ROOM_NUMBER,
		h.HOUSEFILTER_LOCATION,
		h.HOUSEFILTER_BEDROOM_NUMBER,
		h.HOUSEFILTER_BATHROOM_NUMBER,
		h.HOUSEFILTER_BED_NUMBER,
		h.HOUSEFILTER_CHECKIN_TERM,
		h.HOUSEFILTER_CHECKIN_START,
		h.HOUSEFILTER_CHECKIN_END,
		h.HOUSEFILTER_RESERVATION_TERM,
		h.HOUSEFILTER_BAK_MIN,
		h.HOUSEFILTER_BAK_MAX,
		h.HOUSEFILTER_PRICE
		from HOUSEFILTER h, SHUTDOWN, CHECKLIST
	</sql> 
	<sql id="default-house-filter-select">
		select 
		HOUSE_SERIAL houseSerial,
		HOUSEFILTER_RANGE houseFilterRange,
		HOUSEFILTER_GUEST_NUMBER houseFilterGuestNumber,
		HOUSEFILTER_TYPE houseFilterType,
		HOUSEFILTER_ROOM_NUMBER houseFilterRoomNumber,
		HOUSEFILTER_LOCATION houseFilterLocation,
		HOUSEFILTER_BEDROOM_NUMBER houseFilterBedroomNumber,
		HOUSEFILTER_BATHROOM_NUMBER houseFilterBathroomNumber,
		HOUSEFILTER_BED_NUMBER houseFilterBedNumber,
		HOUSEFILTER_CHECKIN_TERM houseFilterCheckinTerm,
		HOUSEFILTER_CHECKIN_START houseFilterCheckinStart,
		HOUSEFILTER_CHECKIN_END houseFilterCheckinEnd,
		HOUSEFILTER_RESERVATION_TERM houseFilterReservationTerm,
		HOUSEFILTER_BAK_MIN houseFilterBakMin,
		HOUSEFILTER_BAK_MAX houseFilterBakMax,
		HOUSEFILTER_PRICE houseFilterPrice
		from HOUSEFILTER 
	</sql>
	
	<sql id="houseFilter-shutDown-checkList-join">
		select
		f.HOUSE_SERIAL f_hSerial,f.HOUSEFILTER_RANGE,f.HOUSEFILTER_GUEST_NUMBER,f.HOUSEFILTER_TYPE,f.HOUSEFILTER_ROOM_NUMBER,f.HOUSEFILTER_LOCATION,f.HOUSEFILTER_BEDROOM_NUMBER,
		f.HOUSEFILTER_BATHROOM_NUMBER,f.HOUSEFILTER_BED_NUMBER,f.HOUSEFILTER_CHECKIN_TERM,f.HOUSEFILTER_CHECKIN_START,f.HOUSEFILTER_CHECKIN_END,
		f.HOUSEFILTER_RESERVATION_TERM,f.HOUSEFILTER_BAK_MIN,f.HOUSEFILTER_BAK_MAX,f.HOUSEFILTER_PRICE,
		s.SHUTDOWN_SERIAL,s.HOUSE_SERIAL s_hSerial,s.SHUTDOWN_DATE,
		c.CHECKLIST_SERIAL,c.HOUSE_SERIAL c_hSerial,c.LIST,c.VALUE
		from HOUSEFILTER f,SHUTDOWN s,CHECKLIST c
	</sql>
	
	<resultMap type="HouseFilterVo" id="houseFilter-basic-resultmap">
		<result column="f_hSerial" property="houseSerial"/>
		<result column="HOUSEFILTER_RANGE" property="houseFilterRange"/>
		<result column="HOUSEFILTER_GUEST_NUMBER" property="houseFilterGuestNumber"/>
		<result column="HOUSEFILTER_TYPE" property="houseFilterType"/>
		<result column="HOUSEFILTER_ROOM_NUMBER" property="houseFilterRoomNumber"/>
		<result column="HOUSEFILTER_LOCATION" property="houseFilterLocation"/>
		<result column="HOUSEFILTER_BEDROOM_NUMBER" property="houseFilterBedroomNumber"/>
		<result column="HOUSEFILTER_BATHROOM_NUMBER" property="houseFilterBathroomNumber"/>
		<result column="HOUSEFILTER_BED_NUMBER" property="houseFilterBedNumber"/>		
		<result column="HOUSEFILTER_CHECKIN_TERM" property="houseFilterCheckinTerm"/>
		<result column="HOUSEFILTER_CHECKIN_START" property="houseFilterCheckinStart"/>
		<result column="HOUSEFILTER_CHECKIN_END" property="houseFilterCheckinEnd"/>
		<result column="HOUSEFILTER_RESERVATION_TERM" property="houseFilterReservationTerm"/>
		<result column="HOUSEFILTER_BAK_MIN" property="houseFilterBakMin"/>
		<result column="HOUSEFILTER_BAK_MAX" property="houseFilterBakMax"/>
		<result column="HOUSEFILTER_PRICE" property="houseFilterPrice"/>
	</resultMap>
	<resultMap type="HouseFilterVo" id="housefilter-shutdown-checklist-join-resultmap" extends="houseFilter-basic-resultmap">
		<collection property="shutdownList" ofType="ShutdownVo">
			<result column="SHUTDOWN_SERIAL" property="shutdownSerial"/>
			<result column="s_hSerial" property="houseSerial"/>
			<result column="SHUTDOWN_DATE" property="shutdownDate"/>
		</collection>
		<collection property="checkList" ofType="CheckListVo">
			<result column="CHECKLIST_SERIAL" property="checklistSerial"/>
			<result column="c_hSerial" property="houseSerial"/>
			<result column="LIST" property="list"/>
			<result column="VALUE" property="value"/>
		</collection>
	</resultMap>
	
	<select id="selectHouseFilterByHouseSerialWithJoin" parameterType="_int" resultType="housefiltervo" resultMap="housefilter-shutdown-checklist-join-resultmap">
		<include refid="houseFilter-shutDown-checkList-join"/>
		where s.HOUSE_SERIAL = f.HOUSE_SERIAL 
		and c.HOUSE_SERIAL = f.HOUSE_SERIAL 
		and f.HOUSE_SERIAL = #{value}
	</select>
	
	
	
	<insert id="insertHouseFilter" parameterType="housefiltervo">
		insert into HOUSEFILTER values(
		#{houseSerial},
		#{houseFilterRange},
		#{houseFilterGuestNumber},
		#{houseFilterType},
		#{houseFilterRoomNumber},
		#{houseFilterLocation},
		#{houseFilterBedroomNumber},
		#{houseFilterBathroomNumber},
		#{houseFilterBedNumber},
		#{houseFilterCheckinTerm},
		#{houseFilterCheckinStart},
		#{houseFilterCheckinEnd},
		#{houseFilterReservationTerm},
		#{houseFilterBakMin},
		#{houseFilterBakMax},
		#{houseFilterPrice}
		)
	</insert>
	
	<update id="updateHouseFilter" parameterType="housefiltervo">	
		update HOUSEFILTER set
		HOUSEFILTER_RANGE=#{houseFilterRange},
		HOUSEFILTER_GUEST_NUMBER=#{houseFilterGuestNumber},
		HOUSEFILTER_TYPE=#{houseFilterType},
		HOUSEFILTER_ROOM_NUMBER=#{houseFilterRoomNumber},
		HOUSEFILTER_LOCATION=#{houseFilterLocation},
		HOUSEFILTER_BEDROOM_NUMBER=#{houseFilterBedroomNumber},
		HOUSEFILTER_BATHROOM_NUMBER=#{houseFilterBathroomNumber},
		HOUSEFILTER_BED_NUMBER=#{houseFilterBedNumber},
		HOUSEFILTER_CHECKIN_TERM=#{houseFilterCheckinTerm},
		HOUSEFILTER_CHECKIN_START=#{houseFilterCheckinStart},
		HOUSEFILTER_CHECKIN_END=#{houseFilterCheckinEnd},
		HOUSEFILTER_RESERVATION_TERM=#{houseFilterReservationTerm},
		HOUSEFILTER_BAK_MIN=#{houseFilterBakMin},
		HOUSEFILTER_BAK_MAX=#{houseFilterBakMax},
		HOUSEFILTER_PRICE=#{houseFilterPrice}
		
		where HOUSE_SERIAL=#{houseSerial}
	</update>
	
	<select id="selectHouseFilterByHouseSerial" parameterType="_int" resultType="housefiltervo">
		<include refid="default-house-filter-select"/>
		where HOUSE_SERIAL = #{value}
	</select>
		
	<delete id="deleteHouseFilterByHouseSerial" parameterType="_int">
		delete from HOUSEFILTER where HOUSE_SERIAL=#{value}
	</delete>
</mapper>