<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
		
	<context:component-scan base-package="com.perplus" />
	<mvc:annotation-driven />
	<!-- main -->
	<mvc:view-controller path="/main.do" view-name="main.tiles" />
	<mvc:view-controller path="/submenu.do" view-name="submenu.tiles1" />

	<!-- sub menu do -->
	<mvc:view-controller path="/accountmanagement.do"
		view-name="accountmanagement/accountmanagement/modifyandcertified.tiles1" />
	<mvc:view-controller path="/rooms.do"
		view-name="rooms/rooms/roomlist.tiles1" />
	<mvc:view-controller path="/travellist.do"
		view-name="travellist/travellist/nowtravel.tiles1" />
	<mvc:view-controller path="/message.do"
		view-name="message/message/message.tiles1" />


	<!-- accountmanagement do -->
	<mvc:view-controller path="/modifyandcertified.do"
		view-name="accountmanagement/accountmanagement/modifyandcertified.tiles1" />
	<mvc:view-controller path="/payment_method.do"
		view-name="accountmanagement/accountmanagement/payment_method.tiles1" />
	<mvc:view-controller path="/payout_preference.do"
		view-name="accountmanagement/accountmanagement/payout_preference.tiles1" />
	<mvc:view-controller path="/transaction_history.do"
		view-name="accountmanagement/accountmanagement/transaction_history.tiles1" />
	<mvc:view-controller path="/review.do"
		view-name="accountmanagement/accountmanagement/review.tiles1" />
	<mvc:view-controller path="/exit.do"
		view-name="accountmanagement/accountmanagement/exit.tiles1" />

	<!-- rooms do -->
	<mvc:view-controller path="/roomlist.do"
		view-name="rooms/rooms/roomlist.tiles1" />
	<mvc:view-controller path="/schedulemanagement.do"
		view-name="rooms/rooms/schedulemanagement.tiles1" />

	<!-- travel do -->
	<mvc:view-controller path="/nowtravel.do"
		view-name="travellist/travellist/nowtravel.tiles1" />
	<mvc:view-controller path="/pasttravel.do"
		view-name="travellist/travellist/pasttravel.tiles1" />
	<mvc:view-controller path="/wishlist.do"
		view-name="travellist/travellist/wishlist.tiles1" />

	<!-- hosting -->
	<mvc:view-controller path="/hosting.do"
		view-name="hostingstart.hostingtiles" />

	<mvc:view-controller path="/basicinfo.do"
		view-name="basicinfo.hostingtiles" />

	<mvc:view-controller path="/housetypeandlocation.do"
		view-name="housetypeandlocation.hostingtiles" />

	<mvc:view-controller path="/houselocation.do"
		view-name="houselocation.hostingtiles" />

	<mvc:view-controller path="/housefacility.do"
		view-name="housefacility.hostingtiles" />

	<mvc:view-controller path="/houseimageenrollment.do"
		view-name="houseimageenrollment.hostingtiles" />

	<mvc:view-controller path="/houseschedulemanagement.do"
		view-name="houseschedulemanagement.hostingtiles" />

	<mvc:view-controller path="/houseshutdowndate.do"
		view-name="houseshutdowndate.hostingtiles" />

	<mvc:view-controller path="/houseprice.do"
		view-name="houseprice.hostingtiles" />

	<mvc:view-controller path="/hostingcomplate.do"
		view-name="hostingcomplete.hostingtiles" />


	<!-- review 리뷰 관련 명소 -->
	<mvc:view-controller path="/hotplace.do"
		view-name="travelhotplace.hotplacetiles" />


	<mvc:view-controller path="/reviewdetailpage.do"
		view-name="reviewdetailpage.hotplacetiles" />


	<mvc:view-controller path="/housesearch.do"
		view-name="housesearch.housetiles" />

	<mvc:view-controller path="/housedetailspage.do"
		view-name="housedetailspage.housetiles" />


	<bean name="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		p:driverClassName="oracle.jdbc.driver.OracleDriver" p:url="jdbc:oracle:thin:@127.0.0.1:1521:XE"
		p:username="perplus" p:password="perplus" p:maxTotal="100" />

	<bean name="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
		p:dataSource-ref="dataSource" p:configLocation="classpath:com/perplus/config/mybatis-config.xml" />

	<bean name="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate"
		c:sqlSessionFactory-ref="sqlSessionFactory" />

	<bean name="tilesConfig"
		class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/config/tiles/tiles-defs.xml</value>
			</list>
		</property>
	</bean>
	
		<!-- Validator에서 사용할 properties 파일 등록 -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource"
		      p:basename="com.mycom.message.error"/>

	<bean name="tilesViewResolver"
		class="org.springframework.web.servlet.view.tiles3.TilesViewResolver"
		p:order="1" />

	<bean name="internalViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:order="2" p:prefix="/WEB-INF/view" />
	<bean name="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />

</beans>